<div class="row">
  <div class="col-md-12">
    <% if @products.count >0 %>
      <h2 class="text-center"> 我的收藏 </h2>
      <table class="table table-striped list">
        <thead class="font">
          <th></th>
          <th>
            产品
          </th>
          <th>
            名称
          </th>
          <th>
            价格
          </th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td></td>
              <td>
                <%= link_to product_path(product) do %>
                  <% if product.image.present? %>
                    <%= image_tag(product.image_url, class: "img-thumbnail") %>
                  <% else %>
                    <%= image_tag("https://via.placeholder.com/400x400.png", class: "img-thumbnail") %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= product.title %>
              </td>
              <td>
                <%= product.price %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
        <h2 class="no-collection text-center my-5">你还没有收藏商品喔 <span class="bi bi-frown-o"></span></h2>
        <p class="text-center"><a class="btn btn-lg btn-dark" href="/products">马上选购</a></p>
    <% end %>

  </div>
</div>
