<div class="row user_edit_setup">
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 user_setup_content">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <h2> <i class="bi bi-gear"></i> 账户设定</h2>
      <hr />
    <%= simple_form_for [:account, @user] do |f| %>
      <div class="form-inputs">
        <%= f.input :name, :label => '昵称', required: true %>
        <%= f.input :truename, :label => '真实姓名' %>
        <%= f.input :address, :label => '地址'  %>
        <%= f.input :phone, :label => '联系电话'  %>
        <%= f.input :avatar, as: :file ,label:"头像"%>
        <%# if @user.avatar.present? %>
          <%#= image_tag(current_user.avatar.thumb.url,style:"border-radius:50%;width:25px;height:25px;")  %>
        <%# end %>
        <div class="form-actions">
          <%= f.button :submit, "更新",class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
