<nav id="nav"  class="navbar navbar-expand-lg fixed-top navbar-dark text-nowrap px-md-8 px-2  fs-6 fw-bolder align-items-center">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-between", 'data-turbo' => 'false' do %>
        <img class="me-2" src=<%= image_url 'icon1.webp' %> width="30" height="30"> <span class="fw-bolder">FitClub</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header bg-dark text-white">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img class="me-2" src=<%= image_url 'icon1.webp' %> width="30" height="30"> <span class="fw-bolder">FitClub</span>
        </h5>
        <button type="button" class="btn-close btn-close-white text-reset text-white" data-bs-dismiss="offcanvas">
        </button>
      </div>
      <div class="offcanvas-body justify-content-end">
        <ul class="navbar-nav pe-3 align-items-lg-center align-items-start">
          <form>
            <div class="input-group">
              <input class="form-control py-0" type="search" placeholder="搜索课程" >
              <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
          <li class="nav-item dropdown ms-lg-3 ms-0">
              <% if current_page?(products_path) %>
                <%= link_to('产品', products_path, class:"nav-link dropdown-toggle active", id: "navbarDropdown",  "data-bs-toggle"=>"dropdown") %>
              <% else %>
                <%= link_to('产品', products_path, class:"nav-link dropdown-toggle", id: "navbarDropdown",  "data-bs-toggle"=>"dropdown" ) %>
              <% end %>
            
            <ul class="dropdown-menu">
              <li>
                <%= link_to "所有产品", products_path, class: "dropdown-item" %>
              </li>
              <% Category.find_each do |category| %>
              <li>
                <%= link_to category.name, products_path(category: category), class: "dropdown-item" %>
              </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to '会员分享', clubs_path, class: class_names('nav-link', { active: current_page?(clubs_path) }) %>
          </li>
          <li class="nav-item">
            <%= link_to '健身知识', articles_path, class: class_names('nav-link', { active: current_page?(articles_path) }) %>
          </li>
          <li class="nav-item d-flex align-items-center me-md-4 me-3 list-unstyled">
            <a href="/carts" class="<%= class_names('nav-link mx-0', { active: current_page?(carts_path) }) %>" >
              <span class="position-relative">
                购物车
                <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill bg-danger"><%= current_cart.products.count %></span>
                <i class="bi bi-cart-fill position-absolute top-50 start-120 translate-middle"> </i>
              </span>
            </a>
          </li>
          <% if current_user %>
          <li class="nav-item mx-md-2 mx-0 dropdown list-unstyled">
            <a class="nav-link dropdown-toggle d-flex align-items-center " data-bs-toggle="dropdown" href="#">
              <img class="rounded-circle me-2" width="30" hight="30" src=<%= current_user.avatar_url %> alt="" srcset="">
              <span>
                <%= current_user.is_admin ? 'Admin':current_user.name  %>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <%= link_to '个人中心', account_orders_path, class: "nav-link text-dark p-0" %>
              </li>
              <% if current_user.is_admin %>
              <li class="dropdown-item">
                <%= link_to '管理中心', admin_products_path, class: "nav-link text-dark p-0" %>
              </li>
              <% end %>
              <li class="dropdown-item">
                <%= button_to  destroy_user_session_path, method: :delete, class: 'btn-danger btn',form: { "data-turbo" => "false" } do %>
                  <i class="bi bi-box-arrow-in-left"></i> 登出
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>  
          <li class="nav-item mx-lg-2 mx-0 d-flex align-items-center">
            <%= link_to new_user_session_path, class: class_names('nav-link', 'pe-0', { active: current_page?(new_user_session_path) }) do %>              
              登录 <i class="bi bi-box-arrow-in-right"></i>
            <% end %>
          </li>
          <li class="nav-item mx-lg-2 mx-0 d-flex align-items-center">
            <%= link_to new_user_registration_path, class: class_names('nav-link', 'pe-0', { active: current_page?(new_user_registration_path) }) do %>
              注册 <i class="bi bi-door-open"></i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
</nav>

