<!DOCTYPE html>
<html>
  <head>
    <title>FitClub Admin ｜ 后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="shortcut icon" href=<%= image_url 'icon1'%>>
  </head>

  <body>
    <%= render "common/navbar" %>
    <div id="content">
      <%= render "common/flash" %>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
              <li> <%= link_to("产品管理", admin_products_path) %> </li>
              <li> <%= link_to("订单管理", admin_orders_path) %> </li>
              <li> <%= link_to("分类管理", admin_categories_path) %> </li>
              <li> <%= link_to("文章管理", admin_articles_path) %> </li>
            </ul>
          </div>
          <div class="col-md-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
