<!DOCTYPE html>
<html>
  <head>
    <title>FitClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="shortcut icon" href=<%= image_url 'icon1.png'%>>
  </head>

  <body>
    <%= render "common/navbar" %>
    <div id="content">
      <%= render "common/flash" %>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
